body{
    background-color: #333;
}

/* Selecciona el "hermano" de la clase, pero solo el siguiente */
/* En este caso son los h2 siguientes a un elemento con la clase title */
/* .title + h2{
    color: red;
} */

.box .title{
    color: red;
}

.box .box2 .title{
    color:blue;
}

/* Toma los hijos directos, no todos */
.box>.title{
    color:aqua
}

/* Hermanos a distancia */
.title~h2{
color: red;
}